.mainContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1rem;
}

.chatbotPanel {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
  background-color: #f9fafb;
}

@media (max-width: 996px) {
  .mainContainer {
    flex-direction: column;
  }
  
  .chatbotPanel {
    width: 100%;
    border-left: none;
    border-top: 1px solid #ddd;
  }
}